/* STYLE GENERAL PORTIONS OF WEBPAGE */

*{
  margin: 0px;
  padding: 0px;
}

body {
 background-color: #256558; 
}

header {
  color: #FFE3E6;
  font-family: "Century Gothic", sans-serif;
  text-align: center;
}

main {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10%;
  margin-left: 10%;
}

/* STYLE GENERAL TEXT */

h1 {
  font-size: 4em;
  margin: 20px;
}

h2 {
  font-size: 3em;
  padding: 20px;
}

h3 {
  font-size: 2em
}

p {
  color: #ffe3e6;
  font-family: "Century Gothic", sans-serif;
  text-align: center;
  font-size: 1.5em;
}

a {
  color: #ffe3e6;
  font-family: "Century Gothic", sans-serif;
  text-align: center;
  font-size: 1em
}

/* STYLE HOME PAGE TEXT */

#intro-text {
  font-size: 1.5em;
  padding: 20px;
  text-align: justify;
}

.hover {
  font-size: 2em;
}

#home-footer {
  text-align: center;
  padding: 20px;
  color: #ffe3e6;
  font-family: "Century Gothic", sans-serif;
  font-weight: normal;
}

/* STYLE PORTFOLIO TEXT */

.port-subheader {
  padding: 20px;
}

/* STYLE GENERAL IMAGES */

#profile-photo {
  max-width: 80%;
  max-height: 80%;
  border-radius: 50%;
  border: 5px outset #ffe3e6;
  position: relative;
  top: 10px;
}

.home-page-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 5px solid #ffe3e6;
  margin: 20px;
}

.portfolio-pic {
  max-width: 400px;
  max-height: 400px;
  border-radius: 10%;
  border: 5px double #ffe3e6
}

/* HOVER FEATURE FOR CROCHET HOME PAGE IMAGE */

.image{
  position: relative;
}

.content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}

.content:hover{
  opacity: 1;
}

.content > *{
  transform: translateY(25px);
  transition: transform 0.6s;
}

.content:hover > *{
  transform: translateY(0px);
}

/* HOVER FEATURE FOR ART HOME PAGE IMAGE */

.image2 {
  position: relative;
}

.content2 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}

.content2:hover{
  opacity: 1;
}

.content2 > *{
  transform: translateY(25px);
  transition: transform 0.6s;
}

.content2:hover > *{
  transform: translateY(0px);
}

/* HOVER FEATURE FOR ONLINE STORE HOME PAGE IMAGE */

.image3 {
  position: relative;
}

.content3 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}

.content3:hover{
  opacity: 1;
}

.content3 > *{
  transform: translateY(25px);
  transition: transform 0.6s;
}

.content3:hover > *{
  transform: translateY(0px);
}

/* STYLE NAVIGATION BAR */

nav {
  text-align: center;
  margin: 20px;
  position: relative;
  top: 14px;
}

ul {
  list-style-type: none;
  background-color: #ffe3e6;
  overflow: hidden;
  padding: 1em;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: #256558;
  font-size: 1.3em;
  padding: 1em;
}

li a:hover {
  background-color: #85c1b5;
}

#port-nav {
  margin: 0;
}

/* STYLE HOME PAGE HEADER IN GRID */

.grid {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 20px;
}

@media only screen and (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.1fr 1fr 0.3fr;
  }
}

/* STYLE HOME PAGE MAIN IN GRID */

.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

/* STYLE PORTFOLIO IN GRID */

.grid3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.port-text {
  text-align: left;
}

.port-crochet {
  place-self: center;
}

.port-art {
  place-self: center;
}

.port-etsy {
  place-self: center;
}
